{% extends "base.html" %}
{% load static %}
{% block title %}Płatność{% endblock %}
{% block content %}


<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-12">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div id="payment-form" class="col-12 col-lg-6 mx-auto">
              <h3 class="mb-3">Adres rozliczeniowy</h3>
              <!-- Error messages in this element -->
              <div id="card-errors" class="a" role="alert"></div>
              <form>
                <div class="row g-3">
                  <div class="col-sm-7">
                    <label for="firstName" class="form-label">Nazwa klienta</label>
                    <input type="text" class="form-control" id="custName" placeholder="" required>
                    <div class="invalid-feedback">
                      Wymagane jest prawidłowe imię.
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="email" class="form-label">Email <span class="text-muted">(Opcjonalne)</span></label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                      Wprowadź prawidłowy adres e-mail do wysyłania aktualizacji.
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="custAdd" placeholder="1234 Main St" required>
                    <div class="invalid-feedback">
                      Proszę wprowadzić adres wysyłki.
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="address2" class="form-label">Address 2 <span
                        class="text-muted">(Opcjonalne)</span></label>
                    <input type="text" class="form-control" id="custAdd2" placeholder="Apartment or suite">
                  </div>
                  <div class="col-md-5">
                    <label for="country" class="form-label">Kraj</label>
                    <select class="form-select" id="country" required>
                      <option value="">Wybierać... </option>
                      <option>Polska</option>
                    </select>
                    <div class="invalid-feedback">
                      PWybierz prawidłowy kraj.
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="state" class="form-label">Miasto</label>
                    <select class="form-select" id="state" required>
                      <option value="">Wybierać... </option>
                      <option>Białystok</option>
                    </select>
                    <div class="invalid-feedback">
                      Podaj prawidłowy stan.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="Postcode" class="form-label">Kod pocztowy</label>
                    <input type="text" class="form-control" id="postCode" placeholder="" required>
                    <div class="invalid-feedback">
                      Wymagany kod pocztowy.
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <h4 class="mb-3">Płatność</h4>
                <label for="card-element">Karta kredytowa lub debetowa</label>
                <div id="card-element" class="form-control form-control-payment">
                  <!-- Payment elements will appear here -->
                </div>
                <hr class="my-4">
                <button id="submit" class="btn btn-primary w-100 fw-bold" data-secret="{{ client_secret }}">Płać</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    {% comment %} Make csrf token availble in JS files {% endcomment %}
    var CSRF_TOKEN = '{{ csrf_token }}';
</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'payment/index.js' %}" data-rel-js></script>

{% endblock %}