[run]
omit =
    *venv/*
    conftest.py
    *tests*
    *settings.py*
    *AppData*
    *migrations*

[report]
omit =
   *venv/*
   conftest.py
   *tests*
   *__init__.py*
   *settings.py*
   *AppData*
   *migrations*