{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="dashboard-content border-dashed p-3 m-4 view-height">
    <form action="" method="POST">{% csrf_token %}
        <div class="row border-bottom border-3 p-1 m-1">
            <div class="col noPadding">
                <h3 class="color-header text-uppercase">DODAJ PRZEPIS DO PLANU</h3>
            </div>
            <div class="col d-flex justify-content-end mb-2 noPadding">
                <button type="submit" class="btn btn-success rounded-0 pt-1 pb-1 pr-5 pl-5"><b>Zapisz</b></button>
            </div>
        </div>
        <div class="schedules-content">
            <div class="form-group row">
                <label for="plan"
                       class="col-sm-2 label-size col-form-label">
                    Wybierz plan
                </label>

                <div class="col-sm-3">

                    <select  class="form-control" id="plan" name="plan">
                        {% for p in plan %}
                            <option value="{{ p.pk }}">{{ p.name }}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 label-size col-form-label">
                    Nazwa posiłku
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="meal_name"
                           placeholder="Nazwa posiłku">
                </div>
            </div>
            <div class="form-group row">
                <label for="order" class="col-sm-2 label-size col-form-label">
                    Numer posiłku
                </label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" id="order" name="order"
                           placeholder="Numer posiłku" min="0">
                </div>
            </div>
            <div class="form-group row">
                <label for="recipe" class="col-sm-2 label-size col-form-label">
                    Przepis
                </label>
                <div class="col-sm-4">
                    <select class="form-control" id="recipe" name="recipe">
                        {% for rec in recipe %}
                            <option value="{{ rec.pk }}">{{ rec.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="day_name" class="col-sm-2 label-size col-form-label">
                    Dzień
                </label>
                <div class="col-sm-2">
                    <select class="form-control" id="day_name" name="day_name">
                        {% for day in day_name %}
                        <option value="{{ day.name }}">{{ day.value }}</option>
                        {% endfor %}
                    </select>
                </div>
                </div>
        </div>
        {% if message %}
            <div class="alert alert-danger" role="Alert">
                {{ message }}
            </div>
        {% endif %}
    </form>
</div>
{% endblock content %}