{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase">LISTA PLANÓW</h3>
        </div>
        <div class="col d-flex justify-content-end mb-2 noPadding">
            <a href="{% url 'plan_add' %}"
               class="btn btn-success rounded-0 pt-1 pb-1 pr-5 pl-5"><b>Dodaj
                plan</b></a>
        </div>
    </div>

    <div class="schedules-content">
        <table class="table border-bottom">
            <thead>
            <tr class="d-flex">
                <th class="col-1">ID</th>
                <th class="col-2">NAZWA</th>
                <th class="col-7">OPIS</th>
                <th class="col-2 center">AKCJE</th>
            </tr>
            </thead>
            <tbody class="text-color-lighter">
            {% for plan in page.object_list %}
                <tr class="d-flex" style="word-break: break-word">
                    <td class="col-1">{{ plan.pk }}</td>
                    <td class="col-2">{{ plan.name }}</td>
                    <td class="col-7">{{ plan.description }}</td>
                    <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                        <a href="" class="btn btn-danger rounded-0 text-light m-1">Usuń</a>
                        <a href="{% url 'plan_details' plan.pk %}"
                           class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                        <a href="{% url 'plan_modify_id' plan.pk %}"
                           class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'plan_list' %}?page={{ page.previous_page_number }}">poprzednia</a>
            </li>
        {% endif %}
        {% for page_nr in plan_paginator.page_range %}
            {% if page_nr == page.number %}
            <li class="page-item active">
                <a class="page-link" href="{% url 'plan_list' %}?page={{ page_nr }}">{{ page_nr }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{% url 'plan_list' %}?page={{ page_nr }}">{{ page_nr }}</a>
            </li>
            {% endif %}
        {% endfor %}
        {% if page.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'plan_list' %}?page={{ page.next_page_number }}">następna</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}