{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">
            <br>
      <h3>Wyszukiwanie</h3>
  <div class="card">
  <div class="card-body">
    <form action="{% url 'recipe_list' %}" method="get">
      <div class="form-group">
                <label for="search">Nazwa przepisu</label>
                <input type="text" class="form-control" id="search" aria-describedby="recipe-name-help" placeholder="Nazwa przepisu" name="search">
                <small id="recipe-name-help" class="form-text text-muted">Szukaj nazwy przepisu.</small>
            </div>
            <button type="submit" class="btn btn-primary">Szukaj</button>

    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding"><h3 class="color-header text-uppercase">Lista
            Przepisów</h3></div>
        <div class="col noPadding d-flex justify-content-end mb-2"><a
                href="{% url 'recipe_add' %}"
                class="btn btn-success rounded-0 pt-1 pb-1 pr-5 pl-5"><b>Dodaj
            przepis</b></a></div>
    </div>
    <table class="table border-bottom schedules-content">
        <thead>
        <tr class="d-flex text-color-darker">
            <th scope="col" class="col-1">ID</th>
            <th scope="col" class="col-2">NAZWA</th>
            <th scope="col" class="col-7">OPIS</th>
            <th scope="col" class="col-2 center">AKCJE</th>
        </tr>
        </thead>
        <tbody class="text-color-lighter">
        {% for recipes in page.object_list %}
        <tr class="d-flex" style="word-break: break-word">
            <td class="col-1">{{ recipes.id}}</td>
            <td class="col-2">
               {{ recipes.name }} ({{ recipes.votes }})
            </td>
            <td class="col-7">{{ recipes.description }}
            </td>
            <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                <a href="#"
                   class="btn btn-danger rounded-0 text-light m-1">Usuń</a>
                <a href="/recipe/{{recipes.id}}/"
                   class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                <a href="/recipe/modify/{{recipes.id}}/"
                   class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
    <div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center" >
      {% if page.has_previous %}
          <li class="page-item"><a class="page-link" href="{% url 'recipe_list' %}?page={{ page.previous_page_number }}">Poprzednia</a></li>
      {% endif %}
      {% for pages in paginator %}
          {% if pages == page.number %}
             <li class="page-item active"><a class="page-link" href="{% url 'recipe_list' %}?page={{pages}}">{{ pages }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{% url 'recipe_list' %}?page={{pages}}">{{ pages }}</a></li>
          {% endif %}
      {% endfor %}
      {% if page.has_next %}
          <li class="page-item"><a class="page-link" href="{% url 'recipe_list' %}?page={{ page.next_page_number }}">Następna</a></li>
      {% endif %}
  </ul>
</nav>
    </div>

{#        {% if message %}#}
{#            <div class="alert alert-danger justify-content-center" role="Alert">#}
{#                {{ message }}#}
{#            </div>#}
{#        {% endif %}#}
    </form>
  </div>
  </div>

{% endblock content %}