{% load i18n %}{% autoescape off %}
{% blocktranslate %} Otrzymujesz tę wiadomość e-mail, ponieważ poprosiłeś o zresetowanie hasła do swojego konta użytkownika w {{site_name}}. {% endblocktranslate%}

{% translate "Proszę przejść do następującej strony i wybrać nowe hasło:"%}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock%}
{% translate 'Twoja nazwa użytkownika, na wypadek gdybyś zapomniał:'%} {{ user.get_username }}

{% translate "Dziękujemy za korzystanie z naszej witryny!" %}

{% blocktranslate %} Zespół {{ site_name }} {% endblocktranslate %}
{% endautoescape %}
