{% extends "../sub_base.html" %}
{% block title %}Zresetowanie hasła {% endblock %}

{% block sub_content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6  mx-auto">
            <div class="p-4">
                {% if 'email' in request.get_full_path %}
                        <h3 class="mb-4">Resetowanie hasła powiodło się</h3>
                        <p>Sprawdź pocztę e-mail, aby uzyskać instrukcje</p>
                {% endif%}
                {% if 'complete' in request.get_full_path %}
                        <h3 class="mb-4">Resetowanie hasła powiodło się</h3>
                        <a href="{% url 'account:login' %}">Login</a>
                {% endif%}
            </div>
        </div>
    </div>
</div>

{% endblock %}